
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Gwendolyn:wght@400;700&display=swap" rel="stylesheet">


<div style="text-align: center;">
  <h1 class="mb-2 gwendolyn-regular text-7xl mt-3">
    Lidia Rosotta Ph
  </h1>
  <h4 class="mb-5 mt-0">
    PRENOTAZIONI
  </h4>
</div>

<router-outlet />
